<div class="row">
  <div class="col-md-6">
    <app-single-data
      [Title]="'Aankomst schepen aantal'"
      [Value]="importAmount"></app-single-data>
  </div>
  <div class="col-md-6">
    <app-single-data
      [Title]="'Totaal Gewicht Import'"
      [Value]="importWeight"></app-single-data>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
      <app-single-data
        [Title]="'Vertrek Schepen aantal'"
        [Value]="exportAmount"></app-single-data>
  </div>
  <div class="col-md-6">
    <app-single-data
      [Title]="'Totaal Gewicht Export'"
      [Value]="exportWeight"></app-single-data>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <app-single-data
      [Title]="'Totaal Scheepsbewegingen'"
      [Value]="exportAmount + importAmount"></app-single-data>
  </div>
  <div class="col-md-6">
    <app-single-data
      [Title]="'Totale Overslag'"
      [Value]="importWeight + exportWeight"></app-single-data>
  </div>
</div>
