<div class="row">
  <div class="col-md-6">
    <app-single-data
      [Title]="'Aankomst schepen aantal'"
      [Value]="2900"></app-single-data>
  </div>
  <div class="col-md-6">
    <app-single-data
      [Title]="'Totaal Gewicht Import'"
      [Value]="2152"></app-single-data>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
      <app-single-data
        [Title]="'Vertrek Schepen aantal'"
        [Value]="5584"></app-single-data>
  </div>
  <div class="col-md-6">
    <app-single-data
      [Title]="'Totaal Gewicht Export'"
      [Value]="189"></app-single-data>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <app-single-data
      [Title]="'Totaal Scheepsbewegingen'"
      [Value]="5584"></app-single-data>
  </div>
  <div class="col-md-6">
    <app-single-data
      [Title]="'Totale Overslag'"
      [Value]="189"></app-single-data>
  </div>
</div>
