<div class="container">
  <div class="text-center">
    <h1>Inloggen</h1>
      <div class="col-sm-5">
        <input class="form-control form-control-lg" placeholder="Emailadres" type="email">
      </div>

      <div class="blank"></div>

      <div class="col-sm-5">
        <input class="form-control form-control-lg" placeholder="Wachtwoord" type="password">
      </div>
    <a class="links">Wachtwoord Vergeten?</a>
    <br>
    <button class="btn btn-primary">Inloggen</button>
    <p>Nog geen account?</p>
    <a class="links">Klik hier om te registreren</a>
  </div>
</div>
