<div class="container">
  <h1 class="text-center">Pagina niet gevonden</h1>

  <div class="blank"></div>


  <div class="row">
    <div class="col-sm-6">
      <h1 class="sub-text">Oops!</h1>

      <div class="blank"></div>

      <p class="sub-text">Verkeerde route!</p>
      <p class="sub-text">Er is helaas geen pagina gevonden.</p>

      <div class="blank"></div>

      <div class="text-center">
        <a class="btn btn-primary text-center" routerLink="/">Terug naar Home Pagina</a>
      </div>
    </div>

    <div class="col-sm-6">
      <img width="300" height="200"  class="center-img img-fluid" src="../../../assets/images/404Icon.png">
    </div>
  </div>

</div>
