<div class="small-blank"></div>
<h1 class="text-center">Toevoegen goederen</h1>
<div class="blank"></div>

<div class="container">
  <div class="row">
    <h3>Selecteren route</h3>
    <p>selecteer hier de route die de goederen hebben afgelegd.</p>
    <select class="form-select form-select-lg">
      <option *ngFor="let route of availableRoutes" value="{{route.cargo_Transport_Id}}">
        {{route.departure_Location}} -> {{route.arrival_Location}}
      </option>
    </select>
  </div>
</div>

<div class="blank">
  <hr>
</div>

<div class="container">

  <div class="row">
    <div class="form-group col-sm-1">
    </div>
    <div class="form-group col-sm-3">
      <label>Goederensoort</label>
      <img class="icon" src="../../../../assets/icons/container.png" width="40" height="30">
    </div>
    <div class="form-group col-sm-4">
      <label>Beschrijving van goederen</label>
      <img class="icon" src="../../../../assets/icons/cargo2.png" width="30" height="30">
    </div>
    <div class="form-group col-sm-3">
      <label>Gewicht (in tonnen)</label>
      <img class="icon" src="../../../../assets/icons/weight.png" width="30" height="30">
    </div>
    <div class="form-group col-sm-1">
    </div>
  </div>


<div class="new-cargo mx-auto col-sm-11">

  <div class="small-blank"></div>
  <app-add-cargo-list>
  </app-add-cargo-list>

</div>

<div class="mx-auto col-sm-10">
  <div class="small-blank"></div>


  <div class="small-blank"></div>

  <div class="weight-sum">
    <p>Totaal Gewicht (in tonnen):</p>
    <h1>{{sumTonnage}} ton</h1>
  </div>
</div>

  <div>
    <a class="home-style-btn" (click)="addCargoItemsToDatabase()">
      Add to Database
    </a>
  </div>

</div>
