.result-card{
  border: 1px #0155A5 solid;
  border-radius: 5px;
}

.result-header{
  background-color: #0155A5;
  color:#FFFFFF;
  padding: 10px;
}

.result-body{
  margin: 10px;
}

.fill-btn{
  font-size: 20px;
  color: black;
  text-decoration: none;
  transition: scale ease-in-out 100ms;
}

.fill-btn :hover{
  cursor: pointer;
  scale:103%;
  transition: scale ease-in-out 100ms;
}

.button-to-fold:hover{
  cursor: pointer;
}

.extra-padding{
  visibility: hidden;
}
