<div class="container">
  <h1 class="text-center">Home Pagina</h1>

  <div class="blank"></div>

  <div class="row">
    <div class="col-sm-6">
      <img width="300" height="200" class="center-img img-fluid" src="assets/images/HomeImageDesktop.png">
    </div>
    <div class="col-sm-6">
      <h1 class="display-6">Monitor Friese goederenstromen</h1>
      <p>Lorem ipsum dolor sit amet</p>

      <button class="btn btn-outline-primary" routerLink="/map">Naar Havens</button>
    </div>
  </div>

  <div class="blank"></div>

  <div class="row">
    <div class="col-sm-6">
      <img width="300" height="200"  class="center-img img-fluid" src="assets/images/HomeImageShip.png">
    </div>
    <div class="col-sm-6">
      <h1 class="display-6">Krijg inzicht in goederenstromen</h1>
      <p>Lorem ipsum dolor sit amet</p>

      <button class="btn btn-outline-primary" routerLink="/cargo-transport">Naar Goederenstromen</button>
    </div>
  </div>
</div>
