<div class="container">

  <br>

  <h1 class="text-center">FAQ</h1>

  <br>

  <div class="row">
    <h3>1. Hoe werkt deze website?</h3>
    <p>
      Met deze applicatie is het mogelijk om de goederenstromen van de Friese havens te kunnen monitoren.
      Om dit uit te kunnen voeren, kunt u naar de map pagina
      <a routerLink="/map">(Klik hier om naar de map pagina te gaan)</a>
      Op deze pagina zullen een aantal icoontjes te zien zijn van een schip. Deze icoontjes stellen havens voor, en hier kan op geklikt worden.
      Als dit wordt gedaan, dan zal de gebruiker naar het dashboard van de aangeklikte haven worden verwezen. Op deze pagina kunt u de aangeklikte haven monitoren.
      Dezelfde mogelijkheid is er ook per provincie.
    </p>
  </div>

  <br>

  <div class="row">
    <h3>2. Waarom functioneren de grafiek(en) op het dashboard niet?</h3>
    <p>
      Het kan zo zijn dat er geen grafiek wordt aangemaakt, dit komt met de data die deze website bezit.
      Deze website heeft niet alle data, en dus kan het zo zijn dat er geen data kan worden opgehaald omdat die niet in ons bezit is.
    </p>
  </div>

  <br>

  <div class="row">
    <h3>3. Kan ik ook aan de gebruikte data van de website komen?</h3>
    <p>
      Momenteel biedt deze website geen mogelijkheid om de data te kunnen downloaden.
    </p>
  </div>

  <br>

  <div class="row">
    <h3>4. Waar kan ik registreren?</h3>
    <p>
      Om te kunnen registreren, dient u contact op te nemen met de eigenaar van de website.
      Vanwege beveiligingsredenen, kunnen alleen bevoegden inloggen en handmatig goederenstromen invoeren.
    </p>
  </div>
</div>
