<div class="container">

  <div class="small-blank"></div>

  <h1 class="text-center">{{selectedPort.portLocation}} ({{selectedPort.portName}})</h1>

  <div class="small-blank"></div>

  <div class="row">

    <!--Charts and tables-->
    <div class="col-lg-6">
      <div class="dashboard-box">
        <app-pie-chart
          [portId]="portId"
          [selectedYear]="selectedYear">
        </app-pie-chart>
      </div>
    </div>

    <!--Single Data Section-->
    <div class="col-lg-6">
      <app-dashboard-filter
        (YearEmitter)="getYear($event)"
        [portId]="portId">

      </app-dashboard-filter>

      <app-single-data-collection
        [portId]="portId"
        [selectedYear]="selectedYear">

      </app-single-data-collection>
    </div>
    <div class="blank"></div>

<!--Bar graph-->
    <div class="row">
      <div class="col-sm-9">
        <app-graph-bar
          [portId]="portId">
        </app-graph-bar>
      </div>

      <div class="col-sm">
        <app-small-single-data-collection
        [portId]="portId">
        </app-small-single-data-collection>
      </div>
    </div>

    <div class="blank">
      <hr>
    </div>


    <!--Cargotransport table-->
    <div class="row">
      <div class="col-md-6">
        <app-cargotransport-table
        [portId]="portId">
        </app-cargotransport-table>

        <div class="blank"></div>

        <a [routerLink]="['/cargo-transport-of-port']"
           [queryParams]="{id : portId}"
           class="btn btn-primary fill-btn">
          Alle gekoppelde goederenstromen
        </a>
      </div>
    </div>

  </div>
</div>
