
<div class="dashboard-box side-menu-contents d-xl-block d-lg-none d-md-none d-sm-none">
  <h1 class="text-center">
    Inhoud
  </h1>
  <br>
  <ol>
    <a class="content-item" (click)="navigate(Goederenverdeling)">
      <li>Goederenverdeling</li>
    </a>
    <br>
    <a class="content-item" (click)="navigate(AfkomstHerkomst)">
      <li>Afkomst en Bestemmingen</li>
    </a>
    <br>
    <a class="content-item" (click)="navigate(PeriodeOverzicht)">
      <li>Periodeoverzicht</li>
    </a>
  </ol>
</div>

<div class="container">

  <div class="small-blank"></div>

  <h1 class="text-center">{{selectedPort.portLocation}} ({{selectedPort.portName}})</h1>

  <div class="small-blank"></div>

  <div class="row" #Goederenverdeling>
    <!--Charts and tables-->
    <div class="col-lg-6" >
      <div class="dashboard-box">
        <app-pie-chart
          [portId]="portId"
          [selectedYear]="selectedYear"
          [selectedMonth]="selectedMonth">
        </app-pie-chart>
      </div>
    </div>

    <!--Single Data Section-->
    <div class="col-lg-6">
      <app-dashboard-filter
        (yearEmitter)="getYear($event)"
        (monthEmitter)="getMonth($event)"
        [portId]="portId">

      </app-dashboard-filter>

      <app-single-data-collection
        [portId]="portId"
        [selectedYear]="selectedYear"
        [selectedMonth]="selectedMonth"
        >

      </app-single-data-collection>
    </div>
  </div>

    <div class="blank">
      <hr>
    </div>

    <!--Cargotransport table-->
    <div class="row" #AfkomstHerkomst id="AfkomstHerkomst">
      <h1 class="text-center">Afkomst en Herkomst</h1>
      <div class="col-lg-6">
        <br>
        <app-destinations-pie-chart
          [portId]="portId"
          [selectedYear]="selectedYear"
          [selectedMonth]="selectedMonth">
        </app-destinations-pie-chart>
      </div>

      <div class="col-lg-6">
        <app-cargotransport-table
          [portId]="portId">
        </app-cargotransport-table>

        <div class="blank"></div>

        <a [routerLink]="['/cargo-transport-of-port']"
           [queryParams]="{id : portId}"
           class="btn btn-primary fill-btn">
          Alle gekoppelde goederenstromen
        </a>
      </div>
    </div>
    <br>

    <div class="blank">
      <hr>
    </div>

    <!--Bar graph-->
    <div class="row" #PeriodeOverzicht>
      <div class="col-lg-9">
        <app-graph-bar
          [portId]="portId">
        </app-graph-bar>
      </div>

      <div class="col-sm">
        <app-small-single-data-collection
        [portId]="portId">
        </app-small-single-data-collection>
      </div>
    </div>

  </div>
