<div class="cargo-table">
  <table class=" table table-striped table-hover">
    <thead>
    <tr>
      <th scope="col">Goederensoort</th>
      <th scope="col">Goederen beschrijving</th>
      <th scope="col">Gewicht (in tonnen)</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cargo of cargoToDisplay">
      <th scope="row">{{cargo.cargo_Type_Name}}</th>
      <td>{{cargo.cargo_Description}}</td>
      <td>{{cargo.transported_Weight}}</td>
    </tr>

    <tr>
      <th>Totaal:</th>
      <td></td>
      <th>{{totalWeight}}</th>
    </tr>
    </tbody>
  </table>
</div>
