<div class="container">
  <div class="row">

    <div class="col-md-4">
      <app-single-data
        [Title]="'Import en Export van binnen Provincie'"
        [Value]="TonnageWithinProvince"
        [DataColour]="'#0155A5'"
        [Unit]="'ton'">
      </app-single-data>
    </div>

    <div class="col-md-4">
      <app-single-data
        [Title]="'Import van buiten Provincie'"
        [Value]="TonnageFromOutsideProvince"
        [DataColour]="'#00FF00'"
        [Unit]="'ton'">
      </app-single-data>
    </div>


    <div class="col-md-4">
      <app-single-data
        [Title]="'Export naar buiten Provincie'"
        [Value]="TonnageToOutsideProvince"
        [DataColour]="'#FF0000'"
        [Unit]="'ton'">
      </app-single-data>
    </div>
  </div>


  <!--Transports-->
  <div class="row">

    <div class="col-md-4">
      <app-single-data
        [Title]="'Scheepsbewegingen binnen provincie'"
        [Value]="TransportWithinProvince"
        [DataColour]="'#0155A5'">
      </app-single-data>
    </div>


    <div class="col-md-4">
      <app-single-data
        [Title]="'Scheepsbewegingen van buiten Provincie'"
        [Value]="TransportFromOutsideProvince"
        [DataColour]="'#00FF00'">
      </app-single-data>
    </div>


    <div class="col-md-4">
      <app-single-data
        [Title]="'Scheepsbewegingen naar buiten Provincie'"
        [Value]="TransportToOutsideProvince"
        [DataColour]="'#FF0000'">
      </app-single-data>
    </div>

  </div>
</div>
