<div class="container">
  <div class="row">
      <nav>
        <a routerLink="/" class="main-title display-4">Frisian Ports</a>
        <a routerLink="/" class="nav-item">Home</a>
        <a routerLink="/map" class="nav-item">Havens</a>
        <a routerLink="/cargo-transport" class="nav-item">Goederenstromen</a>
        <a routerLink="/contact" class="nav-item">Contact</a>


        <div class="nav-right">
          <div class="search-field">
            <app-search-in-nav-bar></app-search-in-nav-bar>
          </div>
          <a routerLink="/login" class="login-btn btn btn-outline-primary">Inloggen</a>
        </div>
      </nav>
    <hr>
  </div>
</div>
