<div class="container">
  <div class="row">
      <nav>
        <a routerLink="/" class="main-title display-4">Frisian Ports</a>
        <a routerLink="/" class="nav-item">
          <img class="icon" src="assets/icons/home.png" width="15" height="15">
           Home
        </a>
        <a routerLink="/map" class="nav-item">
          <img class="icon" src="assets/icons/map.png" width="15" height="15">
          Havens
        </a>
        <a routerLink="/cargo-transport" class="nav-item">
          <img class="icon" src="assets/icons/cargo.png" width="15" height="15">
          Goederenstromen
        </a>
        <a routerLink="/contact" class="nav-item">
          <img class="icon" src="assets/icons/phone.png" width="15" height="15">
          Contact
        </a>


        <div class="nav-right">
          <div class="search-field">
            <app-search-in-nav-bar></app-search-in-nav-bar>
          </div>
          <a routerLink="/login" class="login-btn btn btn-outline-primary">Inloggen</a>
        </div>
      </nav>

    <div class="seperator"></div>

  </div>
</div>
