<div class="row">
  <div class="col-md-6">
    <app-single-data
      [Title]="'Datapunt 1'"
      [Value]="2900"></app-single-data>
  </div>
  <div class="col-md-6">
    <app-single-data
      [Title]="'Datapunt 2'"
      [Value]="2152"></app-single-data>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
      <app-single-data
        [Title]="'Datapunt 3'"
        [Value]="5584"></app-single-data>
  </div>
  <div class="col-md-6">
    <app-single-data
      [Title]="'Datapunt 4'"
      [Value]="189"></app-single-data>
  </div>
</div>
