<div class="image-header">
  <img class="img-fluid" src="../../../assets/images/myAccount.png">
  <div class="text-in-image">
    Admin Pagina
  </div>
</div>

<div class="blank"></div>

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="user-menu">
        <div class="user-menu-header">
          <h1>Welkom, </h1>
          <h1>Voornaam Achternaam</h1>
        </div>
        <div class="user-menu-body">

          <div class="col-md-7">
            <h3>Email: emailadres@email.com</h3>

            <button routerLink="/add-cargo-transport" class="btn btn-lg home-style-btn">
              <h1>Goederenstroom toevoegen</h1>
            </button>

            <br><br>

            <button routerLink="/add-transport" class="btn btn-lg home-style-btn">
              <h1>Scheepsbeweging op goederenstroom toevoegen</h1>
            </button>

            <br><br>

            <button routerLink="/my-added-items" class="btn btn-lg home-style-btn">
              <h1>Mijn toegevoegde goederenstromen</h1>
            </button>

            <br><br>

            <button routerLink="/manage-database-items" class="btn btn-lg home-style-btn">
              <h1>Data in database beheren</h1>
            </button>

            <br><br>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
