<div class="container">

  <div class="small-blank"></div>

  <h1 class="text-center">{{selectedProvince.provinceName}}</h1>

  <div class="small-blank"></div>

  <div class="row">
    <div class="col-lg-6">
      <app-province-pie-chart
        [provinceId]="provinceId"
        [selectedYear]="selectedYear"
        [selectedMonth]="selectedMonth"
      ></app-province-pie-chart>
    </div>
    <div class="col-lg-6">
      <app-province-dashboard-filter
        (yearEmitter)="getYear($event)"
        (monthEmitter)="getMonth($event)"
        [provinceId]="provinceId">
      </app-province-dashboard-filter>

      <app-province-data-view
      [ProvinceId]="provinceId"
      [selectedYear]="selectedYear"
      [selectedMonth]="selectedMonth">
      </app-province-data-view>
    </div>
  </div>

  <div class="blank">
    <hr>
  </div>

  <div class="row">
    <app-province-import-inside
      [ProvinceId]="provinceId"
      [selectedYear]="selectedYear"
      [selectedMonth]="selectedMonth">
    </app-province-import-inside>
  </div>

  <div class="blank">
    <hr>
  </div>

  <app-ports-in-province-table
  [ProvinceId]="provinceId"
  [NameOfProvince]="selectedProvince.provinceName">
  </app-ports-in-province-table>


</div>


