<div class="container">
  <br>
  <h1 class="text-center">{{port.portName}} - {{port.portLocation}}</h1>
    <div class="row">
<!--      <div class="col-sm-3">
        <label for="sort-by-btn">Sorteren</label>
        <select id="sort-by-btn" class="form-select form-select-lg">
          <option>Aankomsten</option>
          <option>Vertrekken</option>
        </select>
      </div>-->
      <h1 class="list-amount">Aantal: {{numberOfResults}}</h1>
    </div>
  <app-cargotransport-table
    [portId]="portId"
    (totalResults)="showResultCount($event)"
  ></app-cargotransport-table>
</div>
