<div class="container">

  <div class="small-blank"></div>

  <h1 class="text-center">{{selectedPort.port_Name}} - {{selectedPort.port_Location}}</h1>

  <div class="small-blank"></div>

  <div class="row">

    <!--Charts and tables-->
    <div class="col-lg-6">
      <div class="dashboard-box">
        <app-pie-chart></app-pie-chart>
      </div>
    </div>

    <!--Single Data Section-->
    <div class="col-lg-6">
      <app-dashboard-filter></app-dashboard-filter>
      <app-single-data-collection></app-single-data-collection>
    </div>
    <div class="blank"></div>

<!--Bar graph-->
    <div class="row">
      <div class="col-sm-9">
        <app-graph-bar></app-graph-bar>
      </div>

      <div class="col-sm">
          <app-single-data
            [Title]="'Gemiddelde import per jaar'"
            [Value]="4899"></app-single-data>
          <app-single-data
          [Title]="'Gemiddelde export per jaar'"
          [Value]="2002"></app-single-data>
      </div>
    </div>

    <div class="blank">
      <hr>
    </div>



    <!--Cargotransport table-->
    <div class="row">
      <div class="col-md-6">
        <app-cargotransport-table>
        </app-cargotransport-table>

        <div class="blank"></div>

        <a routerLink="/cargo-transport-of-port" class="btn btn-primary fill-btn">
          Alle gekoppelde goederenstromen
        </a>
      </div>
    </div>

  </div>
</div>
