<app-add-cargo-item-row
  *ngFor="let cargo of cargoList; let i = index"
  [cargoItem]="cargoList[i]"></app-add-cargo-item-row>

<button class="home-style-btn add-btn" (click)="addCargoInputField()">
  <img src="assets/icons/addCargo.png">
  Vracht toevoegen
</button>

<button class="delete-btn home-style-btn " (click)="removeCargo()">
  <img src="assets/icons/trash.png" width="40" height="53">
  Remove Cargo
</button>

<div class="weight-sum">
  <p>Totaal Gewicht (in tonnen):</p>
  <h1>{{sumTonnage}} ton</h1>
</div>


<a class="home-style-btn large text-center" (click)="addCargoList(cargoList)">
  Goederenstroom toevoegen
</a>

