<div class="container">
  <br>
  <h1 class="text-center">Goederenstromen</h1>
  <p class="text-center">{{searchResultsCount}} zoekresultaten voor "{{queryReceivedFromInput}}"</p>

  <div class="row">
      <div class="col-sm-3">
        <app-search-filter
        (ProvinceFilterToEmitter)="getFilters($event)">
        </app-search-filter>
      </div>
    <div class="col-sm-9">
      <app-search-page-input
        (queryToSend)="handleSearchQuery($event)">
      </app-search-page-input>

      <app-search-result-list
        [queryReceived]="queryReceivedFromInput"
        [additionalFilter]="provinceFilter"
        (searchResultsCount)="resultsCount($event)">

      </app-search-result-list>
    </div>
  </div>
</div>
