<div class="row">
  <div class="col-md-6">
    <app-single-data
      [Title]="'Aankomst schepen'"
      [Value]="importAmount"
      [DataColour]="'#00FF00'"
      [IconPath]="'assets/icons/dashboardIcons/ImportShipIcon.png'"></app-single-data>
  </div>
  <div class="col-md-6">
    <app-single-data
      [Title]="'Gewicht Import'"
      [Value]="importWeight"
      [DataColour]="'#00FF00'"
      [IconPath]="'assets/icons/dashboardIcons/CargoImportIcon.png'"
      [Unit]="'ton'"></app-single-data>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
      <app-single-data
        [Title]="'Vertrek Schepen'"
        [Value]="exportAmount"
        [DataColour]="'#D64933'"
        [IconPath]="'assets/icons/dashboardIcons/ExportShipIcon.png'"></app-single-data>
  </div>
  <div class="col-md-6">
    <app-single-data
      [Title]="'Gewicht Export'"
      [Value]="exportWeight"
      [DataColour]="'#D64933'"
      [IconPath]="'assets/icons/dashboardIcons/CargoExportIcon.png'"
      [Unit]="'ton'"></app-single-data>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <app-single-data
      [Title]="'Totaal Scheepsbewegingen'"
      [Value]="exportAmount + importAmount"
      [DataColour]="'#0155A5'"></app-single-data>
  </div>
  <div class="col-md-6">
    <app-single-data
      [Title]="'Totale Overslag'"
      [Value]="importWeight + exportWeight"
      [DataColour]="'#0155A5'"
      [Unit]="'ton'"></app-single-data>
  </div>
</div>
