<div class="overview">
  <div class="overview-header">
    <h1>Goederenstroom: 00300</h1>
  </div>

  <div class="row">
    <div class="col-6">
      <p class="text-center">Vertrek</p>
      <h1 class="start-location text-center">Locatie 1</h1>
    </div>

    <div class="col-6">
      <p class="text-center">Bestemming</p>
      <h1 class="end-destination text-center">Locatie 2</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="pie-chart-view">
        <h3 class="pie-chart-title">Goederenverdeling</h3>
        <app-cargo-piechart></app-cargo-piechart>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <div class="single-data">
            <p class="text-center">Totaal gewicht aan boord</p>
            <h1 class="text-center">135ton</h1>
          </div>
        </div>
        <div class="col-md-6">
          <div class="single-data">
            <p class="text-center">Frequentie</p>
            <h1 class="text-center">Elke Dag</h1>
          </div>
        </div>
      </div>

      <div class="blank">

      </div>

      <div class="table-summary">
        <app-cargo-table></app-cargo-table>
      </div>
    </div>
  </div>
</div>
