<div class="background d-sm-none d-md-none d-lg-block">
  <img src="../../../assets/images/HomePageBackGround.png">
</div>
<div class="background d-lg-none d-xl-none">
<img src="../../../assets/images/HomePageBackGround.png">
</div>

<div class="container">
  <div class="row">

    <div class="blank"></div>

    <div class="col-lg-3">
      <div class="front-image fly-in-left">
        <img src="../../../assets/images/HomeIntro.png" width="410" height="410">
      </div>
    </div>

    <div class="col-lg-1"></div>

    <div class="col-lg-8">
      <div class="front-header fly-in-right">
        <h1>Krijg inzicht in</h1>
        <h1>de havens van Friesland</h1>
      </div>
      <div class="front-body fly-in-right">
        <p>Monitor de goederenstromen van Friese Havens <br>
        en krijg inzicht in de import en export van de Friese zeetransport.</p>
      </div>
        <a routerLink="/map" class="btn-to-start fly-in-right">Beginnen met monitoren</a>
    </div>
  </div>
</div>

<br><br>
<div class="blank"></div>

<div class="tutorial">
  <div class="container">
    <div class="row">

      <h1 class="display-3 text-center tutorial-title">Hoe werkt het?</h1>
      <img src="assets/images/HomeHelperImage.svg">

    </div>
  </div>

  <div class="blank">
    <div class="text-center">
      Opzoek naar verdere hulp?
      Bezoek de <a routerLink="/faq">FAQ Pagina</a>.
    </div>
  </div>

</div>


