.nav-search{
  margin-right: 40px;
  padding-right: 40px;
}

.nav-search-btn{
  background-color: #0155A5;
  border: solid #0155A5;
  border-width: 3px 10px;
  border-radius: 5px;
}

.nav-search-btn{
  cursor: pointer;
}

.search-result-overlay{
  position: fixed;
}
