
<h1>Filters</h1>
<br>

  <h2>Provincie:</h2>
    <hr>
    <p>Selecteer hier de provincie om nog specifieker te zoeken.</p>

      <div *ngFor="let province of Provinces" class="form-check">
        <input #provinceFilter
               class="form-check-input"
               type="checkbox"
               name="provinceFilter"
               value="{{province.provinceName}}"
               (change)="provinceSelected(provinceFilter.value)">
        <label class="form-check-label" >{{province.provinceName}}</label>
      </div>

<br>

<button class="filter-btn" (click)="emitFilters()">
  Filters toepassen
</button>
