<div class="container">
  <h1 class="text-center">Account aanmaken</h1>

  <div class="blank"></div>

  <div class="mx-auto col-sm-6">
    <div class="row">
      <div class="form-group col-sm-6">
        <label for="fname">Voornaam</label>
        <input id="fname" class="input-field form-control form-control-lg" placeholder="Voornaam" type="text">
      </div>
      <div class="form-group col-sm-6">
        <label for="lname">Achternaam</label>
        <input id="lname" class="input-field form-control form-control-lg" placeholder="Achternaam" type="text">
      </div>
    </div>
  </div>

  <div class="small-blank"></div>

  <div class="mx-auto col-sm-6">  <!--mx-auto is used for centering-->
    <label for="email">Emailadres</label>
    <input id="email" class="input-field form-control form-control-lg" placeholder="Emailadres" type="email">
  </div>

  <div class="small-blank"></div>

  <div class="mx-auto col-sm-6"> <!--mx-auto is used for centering-->
    <label for="pword">Wachtwoord</label>
    <input id="pword" class="form-control form-control-lg" placeholder="Wachtwoord" type="password">

    <div class="small-blank"></div>

    <label for="pword-confirm">Wachtwoord bevestigen</label>
    <input id="pword-confirm" class="form-control form-control-lg" placeholder="Wachtwoord bevestigen" type="password">
  </div>
  <br>

  <div class="text-center">
    <button class="btn btn-primary">Inloggen</button>

    <p>Heeft u al een account?</p>
    <a class="links" routerLink="/login">Klik hier om in te loggen</a>
  </div>
</div>
