<div class="border-box">
  <h1 class=" display-6 text-center">Gekoppelde Goederenstromen</h1>
</div>

<div class="blank"></div>

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th scope="col">Vertrekpunt</th>
    <th scope="col">Bestemming</th>
    <th scope="col">Frequentie</th>
    <th scope="col">Gewicht</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transport of goodsFlow" class="table-row"
        [routerLink]="['/transport']"
        [queryParams]="{id : transport.cargo_Transport_Id}">

      <td>{{transport.departure_Location}}</td>
      <td>{{transport.arrival_Location}}</td>
      <td>{{transport.frequency}}</td>
      <td>{{transport.total_Weight}} Ton</td>
    </tr>
  </tbody>
</table>
