<div class="overview">
  <div class="overview-header">
    <h1>Goederenstroom: {{cargoTransportId}}</h1>
  </div>

  <div class="row">
    <div class="col-6">
      <p class="text-center">Vertrek</p>
      <h1 class="start-location text-center">{{goodsFlow.departureLocation}}</h1>
    </div>

    <div class="col-6">
      <p class="text-center">Bestemming</p>
      <h1 class="end-destination text-center">{{goodsFlow.arrivalLocation}}</h1>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-6">
      <div class="pie-chart-view">
        <h3 class="pie-chart-title">Totale Goederenverdeling</h3>
        <app-cargo-piechart [CargoTransportId]="cargoTransportId" ></app-cargo-piechart>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <div class="single-data">
            <p class="text-center">Tonnage getransporteerd</p>
            <h1 class="text-center">{{goodsFlow.totalWeight}}</h1>
          </div>
        </div>
        <div class="col-md-6">
          <div class="single-data">
            <p class="text-center">Frequentie</p>
            <h1 class="text-center">{{goodsFlow.frequency}}</h1>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="single-data">
          <p class="text-center">Aantal scheepsbewegingen</p>
          <h1 class="text-center">{{shipAmount}}</h1>
        </div>
      </div>

      <div class="blank"></div>

      <div class="table-summary">
        <h1 class="text-center table-title">Goederen getransporteerd</h1>
        <app-cargo-table [CargoTransportId]="cargoTransportId"></app-cargo-table>
      </div>
    </div>
  </div>
</div>
