<div class="border-box">
  <h1 class=" display-6 text-center">Gekoppelde Goederenstromen</h1>
</div>

<div class="blank"></div>

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th scope="col">Vertrekpunt</th>
    <th scope="col">Bestemming</th>
    <th scope="col">Frequentie</th>
    <th scope="col">Gewicht</th>
  </tr>
  </thead>
  <tbody>
    <tr class="table-row" routerLink="/transport">
      <td>Harlingen</td>
      <td>Leeuwarden</td>
      <td>Elke Dag</td>
      <td>10 ton</td>
    </tr>
  </tbody>
</table>
