<div class="container nav-bar sticky-lg-top d-none d-lg-block d-xl-block">
  <div class="row">

      <nav>
        <a [routerLink]="['/']" >
          <img class="main-title"
               width="250"
               height="80"
               src="assets/images/MainLogo.svg">
        </a>

        <div class="nav-items-collection">
          <a [routerLink]="['/']"
             [routerLinkActive]="['selected-background', 'active-page']"
             [routerLinkActiveOptions]="{ exact: true }"
             class="nav-item">
            <img class="icon" src="../../../assets/icons/home.png" width="15" height="15">
             Home
          </a>

          <a [routerLink]="['/map']"
             [routerLinkActive]="['selected-background', 'active-page']"
             class="nav-item">
             <a class="invisible" [routerLink]="['/port-dashboard']"></a>
             <a class="invisible" [routerLink]="['/province-dashboard']"></a>
             <img class="icon" src="../../../assets/icons/map.png" width="15" height="15">
             Kaart
          </a>


          <a [routerLink]="['/cargo-transport']"
             [routerLinkActive]="['selected-background', 'active-page']"
             class="nav-item">
            <a class="invisible" [routerLink]="['/transport']"></a>

            <img class="icon" src="../../../assets/icons/cargo.png" width="15" height="15">
            Goederenstromen
          </a>

          <a [routerLink]="['/contact']"
             [routerLinkActive]="['selected-background', 'active-page']"
             class="nav-item">
            <img class="icon" src="../../../assets/icons/phone.png" width="15" height="15">
            Contact
          </a>
        </div>
          <div class="nav-right items-on-right">
            <div class="search-field">
              <app-search-in-nav-bar></app-search-in-nav-bar>
            </div>

            <a *ngIf="!CheckUserLoggedIn()" [routerLink]="['/login']"
               [routerLinkActive]="'login-btn-active'"
               class="login-btn nav-right">
              Inloggen
            </a>

            <a *ngIf="CheckUserLoggedIn()" [routerLink]="['/admin']"
               [routerLinkActive]="'login-btn-active'"
               class="login-btn nav-right">
              Admin Pagina
            </a>

          </div>
      </nav>

  </div>
</div>

<!--Only display on smaller screens-->
<div class="nav-bar sticky-top d-lg-none d-xl-none">


    <div class="nav-small">
      <!--<a routerLink="/" class="main-title text-center display-4">Frisian Ports</a>-->
      <a [routerLink]="['/']" >
        <img width="300"
             height="80"
             src="assets/images/MainLogo.svg">
      </a>

      <a class="hamburger-menu float-end" (click)="closeAndOpenNav()">
        <img src="../../../assets/icons/hamburger.png" width="40" height="40">
      </a>
    </div>

    <div *ngIf="hamburgerMenu" class="container row">
      <a [routerLink]="['/']"
         [routerLinkActive]="'active-page'"
         [routerLinkActiveOptions]="{ exact: true }"
         class="nav-item">
        <img class="icon" src="../../../assets/icons/home.png" width="15" height="15">
        Home
      </a>
      <a [routerLink]="['/map']"
         [routerLinkActive]="'active-page'"
         class="nav-item">
        <img class="icon" src="../../../assets/icons/map.png" width="15" height="15">
        Kaart
      </a>
      <a [routerLink]="['/cargo-transport']"
         [routerLinkActive]="'active-page'"
         class="nav-item">
        <img class="icon" src="../../../assets/icons/cargo.png" width="15" height="15">
        Goederenstromen
      </a>
      <a [routerLink]="['/contact']"
         [routerLinkActive]="'active-page'"
         class="nav-item">
        <img class="icon" src="../../../assets/icons/phone.png" width="15" height="15">
        Contact
      </a>


      <a *ngIf="!CheckUserLoggedIn()" [routerLink]="['/login']"
         [routerLinkActive]="'login-btn-active'"
         class="login-btn nav-right">
        Inloggen
      </a>

      <a *ngIf="CheckUserLoggedIn()" [routerLink]="['/admin']"
         [routerLinkActive]="'login-btn-active'"
         class="login-btn nav-right">
        Admin Pagina
      </a>


    </div>

    <div class="seperator"></div>

</div>

