<div class="container">
    <h1 class="text-center">Inloggen</h1>

    <div class="blank"></div>

      <div class="mx-auto col-sm-5">  <!--mx-auto is used for centering-->
        <label for="email">Emailadres</label>
        <input #email id="email" class="input-field form-control form-control-lg" placeholder="Emailadres" type="email">
      </div>

      <div class="blank"></div>

      <div class="mx-auto col-sm-5"> <!--mx-auto is used for centering-->
        <label for="password-field">Wachtwoord</label>
        <input #password id="password-field" class="form-control form-control-lg" placeholder="Wachtwoord" type="password">
        <a class="links">Wachtwoord Vergeten?</a>
      </div>
    <br>

    <div class="text-center">
      <button class="btn btn-primary"
              (keyup.enter)="login(email.value, password.value)"
              (click)="login(email.value, password.value)">
        Inloggen
      </button>
<!--
      <p>Nog geen account?</p>
      <a class="links" routerLink="/register">Klik hier om te registreren</a>-->
    </div>
</div>
