@import '../node_modules/leaflet/dist/leaflet.css';

/* You can add global styles to this file, and also import other style files */

* {
  font-family: "Noto Sans";
}

body{
  background-color: #FAFBFC;
}
.blank{
  margin:50px;
}

.small-blank{
  margin:25px;
}

.img-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Noto Sans";
  font-weight: bold;
}

.home-style-btn{
  text-decoration: none;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  color: #FFFFFF;
  border: solid 1px rgba(1, 85, 165, 0.9);
  background-color: rgba(1, 85, 165, 0.9);
  box-shadow: #c5c5c5 2px 2px;
  transition: all 200ms;
}
.home-style-btn:active{
  font-size: 105%;
  color: #FF0000;
  background-color: #FFFFFF;
}

.home-style-btn:hover{
  cursor: pointer;
  font-size: 105%;
  color: #0155A5;
  background-color: #FFFFFF;
}


.blue-menu{
  border: #0155A5 solid 1px;
  border-radius: 5px;
}

.blue-menu-header{
  color: #FFFFFF;
  background-color: #0155A5;
  border-radius: 5px;
  padding: 20px;
}

.blue-menu-body{
  padding: 20px;
}

.blue-menu-btn{
  margin-top: 20px;
  background-color: #0155A5;
  color: #FFFFFF;
}

