<div class="container">

  <h1 class="text-center display-4">Naam van haven - Locatie</h1>

  <div class="row">

    <!--Charts and tables-->
    <div class="col-sm-6">
      <div class="dashboard-box">
        <div class="charts-placement">
          <app-pie-chart></app-pie-chart>
          <app-pie-chart></app-pie-chart>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <app-table [Title]="'Import'"></app-table>
          </div>
          <div class="col-sm-6">
            <app-table [Title]="'Export'"></app-table>
          </div>
        </div>

      </div>
    </div>

    <!--Single Data Section-->
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <div class="dashboard-box">
            <app-single-data
              [Title]="'Datapunt 1'"
              [Value]="2900"></app-single-data>
          </div>
        </div>
          <div class="col-md-6">
            <div class="dashboard-box">
              <app-single-data
                [Title]="'Datapunt 2'"
                [Value]="2152"></app-single-data>
            </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="dashboard-box">
            <app-single-data
              [Title]="'Datapunt 3'"
              [Value]="5584"></app-single-data>
          </div>
        </div>
        <div class="col-md-6">
          <div class="dashboard-box">
            <app-single-data
              [Title]="'Datapunt 4'"
              [Value]="189"></app-single-data>
          </div>
        </div>
      </div>
    </div>

    <div class="blank"></div>

<!--Bar graph-->
    <div class="row">
      <div class="col-md-9">
        <div class="dashboard-box">
          <app-graph-bar></app-graph-bar>
        </div>
      </div>
      <div class="col-md-3">
        <div class="dashboard-box">
          <app-single-data
            [Title]="'Datapunt 5'"
            [Value]="4899"></app-single-data>
        </div>
        <div class="dashboard-box">
          <app-single-data
          [Title]="'Datapunt 6'"
          [Value]="2002"></app-single-data>
        </div>
      </div>
    </div>

  </div>
</div>
